# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Змінні оточення
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Файли анкет
surveys/

# OS
.DS_Store
Thumbs.db

# Logs
*.log